<div
   data-id="{{report._id}}"
   class="panel panel-default"
   >
  <div class="panel-heading">
    <h5>
      <a ng-bind="report.authors[0].identifiers.user_name"
       ng-href="#/citizen-card/{{report.authors[0].authority}}/{{report.authors[0].identifiers.user_name}}"
       ></a>
    <small ng-bind="report.produced | date:'medium'"></small>
    </h5>
  </div>
  <div class="panel-body break-long-words"
       ng-bind="report.texts[0].original"></div>
  <div class="panel-footer clearfix">
    <span ng-show="report.original.entities.media.length"
          class="glyphicon glyphicon-picture"></span>
    <span ng-show="report.original.entities.urls.length"
          class="glyphicon glyphicon-link"></span>
    <span ng-switch="report.verified">
      <a href="#/report-{{report.feed_type}}/{{report._id}}"
         class="btn btn-info pull-right"
         ng-switch-when="true"
         >
        <span translate>
          Details
        </span>
      </a>
      <span
         class="pull-right"
         ng-switch-default
         >
        <span ng-switch="report.assignments.length">
          <span ng-switch-when="0">
            <a class="btn btn-warning"
               ng-show="assign"
               ng-click="assign(report)"
               >
              <span translate>
                Assign
              </span>
            </a>
          </span>
          <span ng-switch-default>
            <a class="btn btn-info"
               ng-show="assign"
               ng-href="#/assigned/"
               >
              <span translate>
                Assigned
              </span>
            </a>
          </span>
        </span>
        <a href="#/report-{{report.feed_type}}/{{report._id}}"
           class="btn btn-primary"
           >
          <span translate>
            Check
          </span>
        </a>
      </span>
    </span>
  </div>
</div>
