<span class="pull-right" ng-switch="report.verified">
  <a href="#/report-{{report.feed_type}}/{{report._id}}"
     class="btn btn-info"
     ng-switch-when="true"
     >
    <span translate>
      Details
    </span>
  </a>
  <span ng-switch-default>
    <span ng-switch="report.assignments.length">
      <a class="btn btn-warning"
         ng-show="dismiss"
         ng-click="dismiss(report)"
         ng-disabled="disabled[report._id]"
         >
        <span translate>
          Dismiss
        </span>
      </a>
      <span ng-switch-when="0">
        <a class="btn btn-default"
           ng-show="assign"
           ng-click="assign(report)"
           >
          <span translate>
            Assign
          </span>
        </a>
      </span>
      <span ng-switch-default>
        <a class="btn btn-info"
           ng-show="assign"
           ng-href="#/assigned/"
           >
          <span translate>
            Assigned to {{report.assignments[0].user_id.username}}
          </span>
        </a>
        <a class="btn btn-warning"
           ng-show="assign"
           ng-click="assign(report)"
           >
          <span translate>
            Reassign
          </span>
        </a>
      </span>
    </span>
    <a href="#/report-{{report.feed_type}}/{{report._id}}"
       class="btn btn-primary"
       >
      <span translate>
        Check
      </span>
    </a>
  </span>
</span>
