<div
   data-id="{{report._id}}"
   class="panel panel-default"
   >
  <div class="panel-body" ng-bind="report.texts[0].original"></div>
  <div class="panel-footer clearfix">
    Created: <span ng-bind="report.produced | date:'medium'"></span>
    <span ng-switch="report.verified">
      <a href="#/reports/{{report._id}}"
         class="btn btn-info pull-right"
         ng-switch-when="true"
         >
        <span translate>
          Details
        </span>
      </a>
      <span
         class="pull-right"
         ng-switch-default
         >
        <a href="#"
           class="btn btn-warning"
           disabled
           >
          <span translate>
            Dismiss
          </span>
        </a>
        <a href="#/reports/{{report._id}}"
           class="btn btn-primary"
           >
          <span translate>
            Verify
          </span>
        </a>
      </span>
    </span>
  </div>
</div>
