<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Citizen Desk</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic|Roboto+Slab:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="citizendeskFrontendApp" ng-controller="BodyCtrl"
        scroll-glue ng-model="service.glue">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="page-header clearfix hidden-xs hidden-sm">
        <h2>Citizen Desk <small>Alpha</small></h2>
      </div>
      <div ng-show="service.connectionError"
           class="alert alert-danger alert-dismissable"
           >
        <button class="close" data-dismiss="alert">&times;</button>
        <span ng-bind="service.connectionError"></span>
        <a ng-click="reload()" class="alert-link" translate>
          click to reload the page
        </a>
      </div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    ng-click="navCollapsed = !navCollapsed"
                    >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand visible-xs visible-sm">
              Citizen Desk
            </a>
          </div>
          <div collapse="navCollapsed" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#"
                   dropdown-toggle
                   translate
                   >
                  Assignments
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ng-href="#/assigned-to-me"
                       ng-click="clikNavigation()">
                      My Assignments
                    </a>
                  </li>
                  <li>
                    <a ng-href="#/assigned"
                       ng-click="clikNavigation()">
                      All Assignments
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a ng-href="#/queues" translate
                   ng-click="clickNavigation()"
                   >
                  Queues
                </a>
              </li>
              <li>
                <a ng-href="#/list-identity-records" translate
                   ng-click="clickNavigation()"
                   >
                Citizen Cards
                </a>
              </li>
              <li>
                <a ng-href="#/configure" translate
                   ng-click="clickNavigation()"
                   >
                Configure
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right"
                ng-controller="LoginCtrl">
              <li class="hidden-xs hidden-sm">
                <span class="navbar-text" translate
                      ng-click="clickNavigation()"
                      >
                  logged in as {{username}}
                </span>
              </li>
              <li><a ng-click="logout()" ng-click="clickNavigation()">
                  Logout
              </a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="clearfix" ng-view></div>
      <div class="footer text-center">
        <span translate>♥ from Sourcefabric</span>
        <span>—</span>
        <a href="https://github.com/sourcefabric-innovation/citizendesk-frontend/issues/new" target="blank">
          <span class="fa fa-bug"></span>
          <span translate>Report an issue</span>
        </a>
      </div>
    </div>

     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-39234574-1');
       ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/raven-js/dist/raven.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/bacon/dist/Bacon.min.js"></script>
    <script src="bower_components/eve-api/dist/eve-api.js"></script>

    <!-- build:js scripts/plugins.js -->
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
    <script src="bower_components/angularjs-scroll-glue/src/scrollglue.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-bootstrap-media-queries/match-media.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="bower_components/safe-access/safe-access.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/translations.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/queues.js"></script>
    <script src="scripts/controllers/configure.js"></script>
    <script src="scripts/controllers/configure-twitter-ingestion-oauths.js"></script>
    <script src="scripts/controllers/configure-autoreply.js"></script>
    <script src="scripts/services/raven.js"></script>
    <script src="scripts/controllers/configure-steps.js"></script>
    <script src="scripts/controllers/report-sms.js"></script>
    <script src="scripts/controllers/report-tweet.js"></script>
    <script src="scripts/controllers/monitor.js"></script>
    <script src="scripts/services/monitors.js"></script>
    <script src="scripts/controllers/new-twitter-search.js"></script>
    <script src="scripts/services/twitter-searches.js"></script>
    <script src="scripts/controllers/twitter-search.js"></script>
    <script src="scripts/directives/report-summary.js"></script>
    <script src="scripts/services/exception-handler.js"></script>
    <script src="scripts/services/error-http-interceptor.js"></script>
    <script src="scripts/directives/queue-selection.js"></script>
    <script src="scripts/controllers/queue-selection.js"></script>
    <script src="scripts/services/queue-selection.js"></script>
    <script src="scripts/services/lodash.js"></script>
    <script src="scripts/controllers/mobile-queue.js"></script>
    <script src="scripts/services/auth-interceptor.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/init-auth.js"></script>
    <script src="scripts/services/auth-service.js"></script>
    <script src="scripts/services/basic-auth-adapter.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/login-modal.js"></script>
    <script src="scripts/controllers/citizen-card.js"></script>
    <script src="scripts/services/add-new-values.js"></script>
    <script src="scripts/filters/sortByDate.js"></script>
    <script src="scripts/controllers/session.js"></script>
    <script src="scripts/services/page-polling.js"></script>
    <script src="scripts/services/now.js"></script>
    <script src="scripts/services/cache-buster.js"></script>
    <script src="scripts/services/assign.js"></script>
    <script src="scripts/controllers/assign.js"></script>
    <script src="scripts/services/page-broker.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/templates.js -->
    <script src="scripts/templates.js"></script>
    <script src="scripts/controllers/assigned-to-me.js"></script>
    <script src="scripts/controllers/assigned.js"></script>
    <script src="scripts/services/coverages.js"></script>
    <script src="scripts/services/report.js"></script>
    <script src="scripts/services/body.js"></script>
    <script src="scripts/controllers/body.js"></script>
    <script src="scripts/controllers/my-monitor.js"></script>
    <script src="scripts/services/date-fetcher-factory.js"></script>
    <script src="scripts/services/superdesk-date.js"></script>
    <script src="scripts/services/link-tweet-entities.js"></script>
    <script src="scripts/directives/tweet-summary.js"></script>
    <script src="scripts/controllers/configure-coverages.js"></script>
    <script src="scripts/services/bacon.js"></script>
    <script src="scripts/services/citizen-lists.js"></script>
    <script src="scripts/services/aliases-in-lists.js"></script>
    <script src="scripts/controllers/configure-lists-specific.js"></script>
    <script src="scripts/controllers/configure-lists.js"></script>
    <script src="scripts/controllers/edit-user-lists.js"></script>
    <script src="scripts/services/report-statuses.js"></script>
    <script src="scripts/services/set.js"></script>
    <script src="scripts/directives/common-report-detail-part.js"></script>
    <script src="scripts/services/simple-report-list.js"></script>
    <script src="scripts/directives/report-summary-buttons.js"></script>
    <script src="scripts/controllers/configure-status-presentation.js"></script>
    <script src="scripts/filters/array-to-text.js"></script>
    <script src="scripts/services/saved-queries.js"></script>
    <script src="scripts/controllers/processed-queues.js"></script>
    <script src="scripts/services/processed-queues.js"></script>
    <script src="scripts/controllers/generic-report-list.js"></script>
    <script src="scripts/controllers/assigned-to.js"></script>
    <script src="scripts/directives/scroll-target.js"></script>
    <script src="scripts/services/scroll-to.js"></script>
    <script src="scripts/controllers/ingest-from-location.js"></script>
    <script src="scripts/controllers/list-from-the-web.js"></script>
    <script src="scripts/controllers/report-web-link.js"></script>
    <script src="scripts/controllers/select-media-to-publish.js"></script>
    <script src="scripts/services/move-to-the-beginning.js"></script>
    <script src="scripts/controllers/common-report-detail-part.js"></script>
    <script src="scripts/services/shared-report.js"></script>
    <script src="scripts/directives/report-author.js"></script>
    <script src="scripts/controllers/remove-coverage-modal.js"></script>
    <script src="scripts/controllers/reports-in-coverage.js"></script>
    <script src="scripts/controllers/configure-time-zone.js"></script>
    <script src="scripts/controllers/identity-record.js"></script>
    <script src="scripts/controllers/list-identity-records.js"></script>
    <script src="scripts/controllers/associate-alias.js"></script>
    <script src="scripts/services/all-pages.js"></script>
    <script src="scripts/services/on-raven-success.js"></script>
    <script src="scripts/controllers/configure-account.js"></script>
    <script src="scripts/services/error-police.js"></script>
    <script src="scripts/services/safe-access.js"></script>
    <!-- endbuild -->

</body>
</html>
