<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="citizendeskFrontendApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="page-header clearfix hidden-xs hidden-sm">
        <h2>Citizendesk <small>July</small></h2>
      </div>
      <div ng-controller="ConnectionErrorCtrl"
           ng-show="application.connectionError"
           class="alert alert-danger alert-dismissable"
           >
        <button class="close" data-dismiss="alert">&times;</button>
        <span ng-bind="application.connectionError"></span>
        <a ng-click="reload()" class="alert-link" translate>
          click to reload the page
        </a>
      </div>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand visible-xs visible-sm">
              Citizendesk
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a ng-href="#/new-report" translate>
                  New Report
              </a></li>
              <li><a ng-href="#/twitter-search" translate>
                  Queues
              </a></li>
              <li><a ng-href="#/assigned-to-me" translate>
                  Your reports
              </a></li>
              <li><a ng-href="#/configure" translate>
                  Configure
              </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"
                ng-controller="LoginCtrl">
              <li class="hidden-xs hidden-sm">
                <span class="navbar-text" translate>
                  logged in as {{username}}
                </span>
              </li>
              <li><a ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div ng-view></div>
      <div class="footer">
        <p>♥ from Sourcefabric</p>
        <p>
          <a href="https://github.com/sourcefabric-innovation/citizendesk-frontend/issues/new" target="blank">
            <span class="fa fa-bug"></span> Report an issue
          </a>
      </div>
    </div>

     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-52437272-1');
       ga('send', 'pageview');
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/raven-js/dist/raven.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/eve-api/dist/eve-api.js"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
        <script src="bower_components/angular-strap/dist/modules/scrollspy.js"></script>
        <script src="bower_components/angular-strap/dist/modules/dimensions.js"></script>
        <script src="bower_components/angular-strap/dist/modules/debounce.js"></script>
        <script src="bower_components/angular-strap/dist/modules/modal.js"></script>

        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/translations.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/new-report.js"></script>
        <script src="scripts/controllers/verified-reports.js"></script>
        <script src="scripts/controllers/configure.js"></script>
        <script src="scripts/controllers/configure-twitter-ingestion.js"></script>
        <script src="scripts/controllers/configure-twitter-ingestion-filters.js"></script>
        <script src="scripts/controllers/configure-twitter-ingestion-oauths.js"></script>
        <script src="scripts/controllers/configure-twitter-ingestion-streams.js"></script>
        <script src="scripts/controllers/configure-autoreply.js"></script>
        <script src="scripts/services/raven.js"></script>
        <script src="scripts/controllers/configure-steps.js"></script>
        <script src="scripts/controllers/report.js"></script>
        <script src="scripts/services/report-resource.js"></script>
        <script src="scripts/services/prefix.js"></script>
        <script src="scripts/services/filter-grouper.js"></script>
        <script src="scripts/controllers/monitor.js"></script>
        <script src="scripts/services/monitors.js"></script>
        <script src="scripts/controllers/new-twitter-search.js"></script>
        <script src="scripts/services/queues.js"></script>
        <script src="scripts/services/twitter-searches.js"></script>
        <script src="scripts/controllers/twitter-search.js"></script>
        <script src="scripts/directives/report-summary.js"></script>
        <script src="scripts/services/resources.js"></script>
        <script src="scripts/services/exception-handler.js"></script>
        <script src="scripts/services/error-http-interceptor.js"></script>
        <script src="scripts/services/resource.js"></script>
        <script src="scripts/services/etag-interceptor.js"></script>
        <script src="scripts/services/report-polling.js"></script>
        <script src="scripts/directives/queue-selection.js"></script>
        <script src="scripts/controllers/queue-selection.js"></script>
        <script src="scripts/services/queue-selection.js"></script>
        <script src="scripts/controllers/web-queue.js"></script>
        <script src="scripts/services/lodash.js"></script>
        <script src="scripts/controllers/mobile-queue.js"></script>
        <script src="scripts/services/application.js"></script>
        <script src="scripts/controllers/connection-error.js"></script>
        <script src="scripts/services/auth-interceptor.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/storage.js"></script>
        <script src="scripts/services/init-auth.js"></script>
        <script src="scripts/services/auth-service.js"></script>
        <script src="scripts/services/basic-auth-adapter.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/login-modal.js"></script>
        <script src="scripts/controllers/citizen-card.js"></script>
        <script src="scripts/services/add-new-values.js"></script>
        <script src="scripts/filters/sortByDate.js"></script>
        <script src="scripts/services/parse-date.js"></script>
        <script src="scripts/controllers/session.js"></script>
        <script src="scripts/services/page-polling.js"></script>
        <script src="scripts/services/now.js"></script>
        <script src="scripts/services/cache-buster.js"></script>
        <script src="scripts/services/assign.js"></script>
        <script src="scripts/controllers/assign.js"></script>
        <script src="scripts/services/page-broker.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/templates.js -->
        <script src="scripts/templates.js"></script>
        <script src="scripts/controllers/assigned-to-me.js"></script>
        <!-- endbuild -->

</body>
</html>
