<div>
  <div class="modal-header">
    <h4 class="modal-title" translate>
      Confirm coverage deletion
    </h4>
  </div>
  <!-- more explanation could go here --
  <div class="modal-body" translate>
  </div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
            ng-click="$close()"
            translate>
      Delete
    </button>
    <button type="button" class="btn btn-primary"
            ng-click="$dismiss()"
            translate>
      Do not delete
    </button>
  </div>
</div>
