<h3 translate>
  Info about alias {{alias.identifiers.user_name_search}}
</h3>
<div ng-switch="alias.authority">
  <div class="panel panel-info" ng-switch-when="twitter">
    <div class="panel-heading"
         >
      Twitter alias
    </div>
    <div class="panel-body">
      <div class="media">
        <a class="pull-left"
           ng-href="//twitter.com/{{alias.identifiers.user_name_search}}"
           target="_blank"
           >
          <img class="media-object" ng-src="{{alias.avatars[0].https}}">
        </a>
        <div class="media-body">
          <h5 class="media-heading"
              ng-bind="alias.identifiers.user_name_search"
              ></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-info" ng-switch-when="web">
    <div class="panel-heading" translate>
      Web alias
    </div>
  </div>
  <div class="panel panel-info" ng-switch-when="telco">
    <div class="panel-heading" translate>
      Mobile alias
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div ng-hide="alias.identity_record_id">
      <p translate>
        This alias is not associated with any identity
      </p>
      <button class="btn btn-default" ng-click="associate()">
        <span translate>
          Associate with an identity
        </span>
      </button>
    </div>
    <div ng-show="alias.identity_record_id">
      <address>
        <strong>
          <a ng-href="#/identity-record/{{alias.identity_record_id._id}}">
            {{alias.identity_record_id.first_name}}
            {{alias.identity_record_id.last_name}}
          </a>
        </strong><br>
        <span ng-bind="alias.identity_record_id.location"></span><br>
        <a href="mailto:#" ng-bind="alias.identity_record_id.email"></a>
      </address>
      <button class="btn btn-default" ng-click="associate()">
        <span translate translate-comment="keep this short">
          Change the associated identity
        </span>
      </button>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div ng-if="alias.tags.length===0">
      <p translate>
        This alias is not associated with any list
      </p>
      <button class="btn btn-default" ng-click="editTags()">
        <span translate>
          Add to a list
        </span>
      </button>
    </div>
    <div ng-if="alias.tags.length===1">
      <p translate>
        This alias belongs to the list below:
      </p>
      <p>
        <label class="label" ng-class="alias.tags[0].variation"
               ng-bind="alias.tags[0].name">
        </label>
      </p>
      <button class="btn btn-default" ng-click="editTags()">
        <span translate>
          Change the list this alias belongs to
        </span>
      </button>
    </div>
  </div>
</div>
<p>
  <h5 translate> Reports authored by this user </h5>
  <div
     ng-repeat="report in reports"
     ng-switch on="report.feed_type"
     >
    <div ng-switch-when="tweet" tweet-summary></div>
    <div ng-switch-default      report-summary></div>
  </div>
  <div ng-hide="reports.length" translate>
    No reports here at the moment
  </div>
</p>
