<h3 translate>
  Info about user {{alias.identifiers.user_name_search}}
</h3>
<div ng-switch="alias.authority">
  <div ng-switch-when="twitter">
    <div class="media">
      <a class="pull-left"
         ng-href="//twitter.com/{{alias.identifiers.user_name_search}}"
         target="_blank"
         >
        <img class="media-object" ng-src="{{alias.avatars[0].https}}">
      </a>
      <div class="media-body">
        <h4 class="media-heading"
            >
          Twitter user
        </h4>
      </div>
    </div>
  </div>
  <div ng-switch-default>
    <h4 translate>
      Mobile user
    </h4>
  </div>
</div>
<p ng-if="alias">
  <h5 ng-if="alias.tags.length===0">
    <span translate>This user is not associated with any list</span>
  </h5>
  <h5 ng-if="alias.tags.length===1">
    <span translate>This user is associated with the list:</span>
    <label class="label" ng-class="alias.tags[0].variation"
           ng-bind="alias.tags[0].name">
    </label>
  </h5>
  <button class="btn btn-default" ng-click="editTags()">
    <span translate>
      Set the list associated with this user
    </span>
  </button>
</p>
<p>
  <h5 translate> Reports authored by this user </h5>
  <div
     ng-repeat="report in reports"
     report-summary
     >
  </div>
  <div ng-hide="reports.length" translate>
    No reports here at the moment
  </div>
</p>
