<ol class="breadcrumb">
  <li><a href="#/configure">Configure</a></li>
  <li class="active">Autoreply</li>
</ol>
<div class="alert alert-{{status}}" ng-hide="alert==''" ng-bind="alert">
</div>
<form class="form-horizontal">
  <fieldset ng-disabled="disabled">
    <div class="form-group">
      <label class="col-md-2">Autoreply enabled</label>
      <div class="col-md-10">
        <input type="checkbox" class="col-md-10 form-control" ng-model="enabled.value">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Text to send automatically</label>
      <div class="col-md-10">
        <textarea type="text" class="col-md-10 form-control" placeholder="Thank you for reporting" ng-model="text.value"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Timeout in minutes</label>
      <div class="col-md-10">
        <input type="number" class="col-md-10 form-control" ng-model="timeout.value">
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary" ng-click="submit()">
        Submit
      </button>
    </div>
  </fieldset>
</form>
