<ol class="breadcrumb">
  <li><a href="#/configure">Configure</a></li>
  <li><a href="#/configure-twitter-ingestion">Twitter ingestion</a></li>
  <li class="active">Streams</li>
</ol>
<form class="form-horizontal">
  <fieldset ng-repeat="element in twtStreams">
    <div class="form-group">
      <label class="col-md-2">Active</label>
      <div class="col-md-10">
        <input
           type="checkbox"
           class="col-md-10 form-control"
           ng-model="element.control.switch_on"
           disabled
           >
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Identifier</label>
      <p class="col-md-10 form-control-static" ng-bind="element.id"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Updated</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.updated|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Created</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.created|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Started</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.started|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Stopped</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.stopped|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">OAuth</label>
      <div class="col-md-10">
        <input disabled type="text" class="col-md-10 form-control" placeholder="Consumer secret" ng-model="element.spec.oauth_id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Filter</label>
      <div class="col-md-10">
        <select
           class="col-md-10 form-control"
           ng-model="element.spec.filter_id"
           ng-options="filter._id as filter._id for filter in twtFilters"
           ng-disabled="disabled[element._id]"
           ng-class="{'has-error': error[element._id]}"
           ng-change="saveStream(element)"
           >
        </select>
      </div>
    </div>
    <div>
      <button class="btn"
              ng-class="{'btn-success': !restartError[element._id], 'btn-error': restartError[element._id]}"
              ng-disabled="restartDisabled[element._id]"
              ng-click="restart(element)"
              >
        Restart
      </button>
    </div>
  </fieldset>
</form>
