<ol class="breadcrumb">
  <li><a href="#/configure">Configure</a></li>
  <li class="active">Validation steps</li>
</ol>
<div class="alert alert-{{status}}" ng-hide="alert==''" ng-bind="alert">
</div>
<p>
  <span translate>
    Changing these settings will not affect reports that already started
    the verification process
  </span>
</p>
<form class="form-horizontal"
      ng-repeat="step in steps"
      >
  <fieldset ng-disabled="status[step._id] == 'disabled'"
            >
    <div class="form-group">
      <label class="col-md-2"></label>
      <div class="col-md-10">
        <input type="text"
               class="col-md-10 form-control"
               ng-model="step.description"
               >
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary"
              ng-click="save(step)"
              >
        Save
      </button>
      <button class="btn btn-danger" ng-click="remove(step)">
        Delete
      </button>
    </div>
  </fieldset>
</form>
<br>
<div class="col-md-10 col-md-offset-2">
  <button class="btn btn-warning" ng-click="add()">
    Add
  </button>
</div>
