<ol class="breadcrumb">
  <li><a href="#/configure">Configure</a></li>
  <li><a href="#/configure-twitter-ingestion">Twitter ingestion</a></li>
  <li class="active">Streams</li>
</ol>
<form class="form-horizontal">
  <fieldset ng-repeat="element in twtStreams" disabled>
    <div class="form-group">
      <label class="col-md-2">Active</label>
      <div class="col-md-10">
        <input type="checkbox" class="col-md-10 form-control" placeholder="Consumer secret" ng-model="element.control.switch_on">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Identifier</label>
      <p class="col-md-10 form-control-static" ng-bind="element.id"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Updated</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.updated|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Created</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.created|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Started</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.started|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">Stopped</label>
      <p class="col-md-10 form-control-static" ng-bind="element.logs.stopped|date"></p>
    </div>
    <div class="form-group">
      <label class="col-md-2">OAuth</label>
      <div class="col-md-10">
        <input type="text" class="col-md-10 form-control" placeholder="Consumer secret" ng-model="element.spec.oauth_id">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2">Filter</label>
      <div class="col-md-10">
        <input type="text" class="col-md-10 form-control" placeholder="Consumer secret" ng-model="element.spec.filter_id">
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-primary">
        Submit
      </button>
    </div>
  </fieldset>
</form>
