<ol class="breadcrumb">
  <li><a href="#/configure">Configure</a></li>
  <li><a href="#/configure-twitter-ingestion">Twitter ingestion</a></li>
  <li class="active">Filters</li>
</ol>
<form class="form-horizontal">
  <form class="form-horizontal">
    <fieldset ng-repeat="element in twtFilters" disabled>
      <div class="form-group">
        <label class="col-md-2">Identifier</label>
        <p class="col-md-10 form-control-static" ng-bind="element.id"></p>
      </div>
      <div class="form-group">
        <label class="col-md-2">Updated</label>
        <p class="col-md-10 form-control-static" ng-bind="element.logs.updated|date"></p>
      </div>
      <div class="form-group">
        <label class="col-md-2">Created</label>
        <p class="col-md-10 form-control-static" ng-bind="element.logs.created|date"></p>
      </div>
      <div ng-repeat="e in element.spec.track" class="form-group">
        <label class="col-md-2">track {{$index + 1}}</label>
        <div class="col-md-10">
          <input type="text" class="col-md-10 form-control" ng-model="e">
        </div>
      </div>
      <div ng-repeat="e in element.spec.follow" class="form-group">
        <label class="col-md-2">follow {{$index + 1}}</label>
        <div class="col-md-10">
          <input type="text" class="col-md-10 form-control" ng-model="e">
        </div>
      </div>
      <div ng-repeat="e in element.spec.locations" class="form-group">
        <div class="form-group">
          <label class="col-md-2">location {{$index + 1}} west</label>
          <div class="col-md-10">
            <input type="text" class="col-md-10 form-control" ng-model="e.west">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2">location {{$index + 1}} east</label>
          <div class="col-md-10">
            <input type="text" class="col-md-10 form-control" ng-model="e.east">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2">location {{$index + 1}} north</label>
          <div class="col-md-10">
            <input type="text" class="col-md-10 form-control" ng-model="e.south">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2">location {{$index + 1}} west</label>
          <div class="col-md-10">
            <input type="text" class="col-md-10 form-control" ng-model="e.west">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Language</label>
        <div class="col-md-10">
          <input type="text" class="col-md-10 form-control" placeholder="Language" ng-model="element.language">
        </div>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <button class="btn btn-primary">
          Submit
        </button>
      </div>
    </fieldset>
  </form>
