<h3 translate>
  How are incoming reports from Twitter organised?
</h3>
<p translate>
  Reports come from Twitter in two flavors: in <i>Monitors</i> or in <i>Twitter Searches</i>.
</p>
<h4 translate>
  Monitors
</h4>
<p translate>
  <i>Monitors</i> follow your search terms in Twitter in real time. They
  will periodically show you the most recent tweets about the topic you set. You have to set your monitor to include keywords (like "Obama"), Twitter user names (like @joesmith), or hashtags (like #eurovision). You can monitor multiple items - just separate each monitored term with a comma. Since this may result in a huge amount of reports from Twitter, we only
  support search terms with a reduced number of matches. A typical use for a monitor
  is to watch your own Twitter username and the usernames of others.
</p>
<p translate>
  In order for monitors to work, you have to provide a twitter
  key. Thus every user can dispose of maximum one monitor. If you did
  not use it already, Click on your monitor in order to start the set
  up.
</p>
<h4 translate>
  Twitter searches
</h4>
<p translate>
  A Twitter search is different. It searches the past, while the monitor is looking forward. Twitter searches do not have the limitations that monitors do, but they are
  not constantly updated. They are only updated just when you create or refresh them.
</p>
