<!-- the user can navigate to this page from two locations, the
configuration page and the citizen card. in the two cases there will
be different route parameters. we have to show either a title or a
configuration breadcrumb, depending on the origin -->
<div ng-switch="configuration">
  <ol ng-switch-when="true" class="breadcrumb">
    <li><a href="#/configure" translate>Configure</a></li>
    <li class="active" translate>Known Identities</li>
  </ol>
  <h3 ng-switch-when="false"><span translate>Identity records</span></h3>
</div>
<div ng-hide="configuration">
  <p translate>
    Select an identity to associate the alias with
  </p>
</div>

<!-- search users -->
<div class="input-group ng-scope">
    <div class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <input class="form-control"
           type="search"
           ng-model="user"
           >
</div>

<div class="list-group">
  <div class="list-group-item list-group-item-success"
       ng-click="add()">
      <span translate>Add a new identity</span>
  </div>
  <div class="list-group-item"
       ng-repeat="identity in identities |
                  filter: user"
       ng-disabled="disabled"
       ng-click="select(identity)"
       >
    {{identity.first_name}} {{identity.last_name}}
  </div>
  <div class="list-group-item list-group-item-warning"
       ng-show="dissociate"
       ng-disabled="disabled"
       ng-click="dissociate()"
       translate
       translate-comment="for example, the owner of a phone number is...">
    Unknown
  </div>
</div>
