<div class="dropdown">
  <a data-toggle="dropdown">
    <h3 ng-bind="monitor.slug"
        ></h3>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="queue in queues"
        ng-switch on="queue.type">
      <a
         ng-switch-when="monitor"
         ng-href="#/monitor/{{queue.slug}}">
        <span ng-bind="queue.description"></span>
        <span class="badge" ng-bind="queue.reports.length"></span>
      </a>
      <a
         ng-switch-when="search"
         ng-href="#/twitter-search/{{queue.slug}}">
        <span ng-bind="queue.description"></span>
        <span class="badge" ng-bind="queue.reports.length"></span>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a ng-href="#/new-twitter-search">
        <span>New Twitter search</span>
      </a>
    </li>
  </ul>
</div>
<form ng-hide="editing" class="form-inline">
  <div class="form-group">
    <button class="btn btn-default"
            type="button"
            ng-click="resetNewTrack(); editing=true"
            ><span class="glyphicon glyphicon-pencil"
                   ></span>
    </button>
  </div>
</form>
<form ng-show="editing" class="form-inline" ng-submit="save()">
  <div class="form-group">
    <button class="btn btn-default"
            type="button"
            ng-click="resetNewTrack(); editing=false"
            ><span class="glyphicon glyphicon-remove"
                   ></span>
    </button>
    <button class="btn btn-default"
            type="submit"
            ><span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
  </div>
  <div class="form-group">
    <input class="form-control"
           ng-model="newTrack"
           ng-list>
  </div>
</form>
<div
   ng-repeat="report in monitor.reports"
   data-id="{{report.id}}"
   class="panel panel-default"
   >
  <div class="panel-body" ng-bind="report.texts[0].original"></div>
  <div class="panel-footer clearfix">
    Created: <span ng-bind="report.created | date:'medium'"></span>
    <a href="#/reports/{{report.id}}"
       class="btn btn-primary pull-right"
       translate
       >
      Verify
    </a>
  </div>
</div>
