<h2 translate>New Twitter search</h2>
<form class="form-horizontal">
  <fieldset>
    <div class="form-group left">
      <label class="col-md-3" translate>
        Please specify some search terms
      </label>
      <div class="col-md-9">
        <input type="text" class="col-md-10 form-control" ng-model="terms">
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ng-click="submit()">
        Submit
      </button>
    </div>
  </fieldset>
</form>
<div ng-show="loading">
  <p>
    <h5 class="text-center" translate>Loading...</h5>
    <div class="text-center">
      <span class="fa fa-refresh fa-spin"></span>
    </div>
  </p>
</div>
