<h4 class="text-center" translate>Processed reports</h4>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <ul class="list-group text-center">
      <a class="list-group-item"
         ng-href="#/published-list">
        <span translate>Published</span>
      </a>
      <a class="list-group-item text-center"
         ng-href="#/dismissed-list">
        <span translate>Dismissed</span>
      </a>
      <a class="list-group-item text-center"
         ng-href="#/debunked-list">
        <span translate>Debunked</span>
      </a>
      <a class="list-group-item text-center"
         ng-href="#/assigned-list">
        <span translate>Assigned</span>
      </a>
    </ul>
  </div>
</div>
