<div class="col-md-2 hidden-sm hidden-xs">
  <div class="bs-sidebar">
    <ul class="nav">
      <li ng-show="report.original.entities.media.length" bs-scrollspy>
        <a ng-click="scrollTo('media')">Media</a>
      </li>
      <li bs-scrollspy>
        <a ng-click="scrollTo('text')">Text</a>
      </li>
      <li bs-scrollspy>
        <a ng-click="scrollTo('tasks')">Tasks</a>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-10">
  <div class="panel panel-info"
       ng-repeat="medium in report.original.entities.media">
    <div class="panel-heading" translate>
      Media
    </div>
    <div class="panel-body">
      <img class="img-responsive" ng-src="{{medium.media_url}}">
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" translate>
      Tweet
    </div>
    <div class="panel-body break-long-words">
      <!-- upper part of the tweet -->
      <p>
        <div class="row">
          <!-- avatar -->
          <div class="col-md-2 col-xs-2">
            <a target="_blank"
               ng-href="//twitter.com/{{report.original.user.screen_name}}">
              <img class="media-object"
                   ng-src="{{report.original.user.profile_image_url}}">
            </a>
          </div>
          <div class="col-md-8 col-xs-8">
            <p>
              <!-- full name -->
              <div>
                <a target="_blank"
                   ng-href="//twitter.com/{{report.original.user.screen_name}}">
                  <strong ng-bind="report.original.user.name"></strong>
                </a>
              </div>
              <!-- Twitter user name -->
              <div>
                <a target="_blank"
                   ng-href="//twitter.com/{{report.original.user.screen_name}}">
                  <span ng-bind="'@'+report.original.user.screen_name"
                        class="text-muted">
                  </span>
                </a>
              </div>
            </p>
          </div>
          <!-- logo button -->
          <div class="col-md-2 col-xs-2">
            <a href="https://twitter.com" target="_blank" class="pull-right">
              <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_16.png"
                   width="14" height="11">
            </a>
          </div>
        </div>
      </p>
      <!-- middle part of the tweet -->
      <p id="text"
         ng-bind-html="linkedText"
         ng-class="lead"
         >
      </p>
      <!-- lower part of the tweet -->
      <p>
        <div class="pull-right">
          <a ng-href="https://twitter.com/intent/favorite?tweet_id={{report.original.id_str}}"
             target="_blank">
            <img
               src="//si0.twimg.com/images/dev/cms/intents/icons/favorite.png">
          </a>
          <a ng-href="https://twitter.com/intent/tweet?in_reply_to={{report.original.id_str}}"
             target="_blank">
            <img
               src="//si0.twimg.com/images/dev/cms/intents/icons/reply.png">
          </a>
          <a ng-href="https://twitter.com/intent/retweet?tweet_id={{report.original.id_str}}"
             target="_blank">
            <img
               src="//si0.twimg.com/images/dev/cms/intents/icons/retweet.png">
          </a>
        </div>
        <span ng-bind="report.created | date:'medium'" class="text-muted">
        </span>
      </p>
    </div>
  </div>
  <p ng-show="report.feed_type=='sms'">
    <!--a class="btn btn-primary"
       ng-href="#/session/{{encodedSession}}/{{report._id}}"
       translate
       >
      Reply
    </a-->
    <a class="btn btn-default"
       ng-href="#/session/{{encodedSession}}"
       translate
       >
      Session
    </a>
  </p>
  <!--div>
    <div class="row">
      <div class="col-sm-6">
        <dl>
          <dt translate>Author</dt>
          <dd>
            <a ng-bind="report.authors[0].identifiers.user_name"
               ng-href="#/citizen-card/{{report.authors[0].authority}}/{{report.authors[0].identifiers.user_name}}"
               ></a>
          </dd>
        </dl>
      </div>
    </div>
  </div-->
  <div class="alert alert-{{status}}"
       ng-hide="alert==''"
       ng-bind="alert"></div>
  <form id="tasks" class="form-horizontal" ng-repeat="step in report.steps">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="step.done"
                 ng-change="changeStep(step.done)"
                 ng-disabled="stepsDisabled"
                 >
          {{step.description}}
        </label>
      </div>
    </div>
  </form>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="report.verified"
                 ng-change="save()"
                 ng-disabled="wait"
                 >
          <strong translate>This report is verified</strong>
        </label>
      </div>
    </div>
  </form>
  <div class="row" ng-show="onBehalf">
    <div class="col-md-12">
      <h5>
        <span translate>Published on behalf of {{onBehalf.username}}</span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-8">
      <select class="form-control" ng-model="selectedCoverage"
              ng-options="coverage.title for coverage in coverages"
              ng-disabled="isPublished"
              >
      </select>
    </div>
    <div class="col-md-4 col-xs-4">
      <button class="btn btn-warning" ng-if="!isPublished"
              ng-disabled="disablePublish || (!selectedCoverage)"
              ng-click="publish()">
        <span translate>Publish</span>
      </button>
      <button class="btn btn-warning" ng-if="isPublished"
              ng-disabled="disablePublish || (!selectedCoverage)"
              ng-click="unpublish()">
        <span translate>Unpublish</span>
      </button>
    </div>
  </div>
</div>
<div class="clearfix"></div>
