<div class="well">
  <p
     ng-bind="report.texts[0].original"
     ></p>
  <p
     >
    Created: <span ng-bind="report.created | date:'medium'"></span>
  </p>
</div>
<div class="alert alert-{{status}}" ng-hide="alert==''" ng-bind="alert"></div>
<form class="form-horizontal" ng-repeat="step in report.steps">
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="step.done"
                 ng-change="changeStep(step.done)"
                 ng-disabled="stepsDisabled"
                 >
          {{step.description}}
        </label>
      </div>
    </div>
  </div>
</form>
<form class="form-horizontal">
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 ng-model="report.verified"
                 ng-change="save()"
                 ng-disabled="wait"
                 >
          <strong translate>This report is verified</strong>
        </label>
      </div>
    </div>
  </div>
</form>
