<div ng-repeat="report in reports">
  <div class="row">
    <div ng-show="report.authors[0].identifiers.user_id == identity.user"
         class="col-md-9 col-md-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <small class="pull-right" ng-bind="report.produced | date:'medium'">
          </small>
          <span ng-if="report.authors.length === 0">
            <span ng-if="report.local === true">
              <span translate>
                Sent by Citizendesk
              </span>
            </span>
            <span ng-if="report.local !== true">
              <span translate>
                Unknown sender
              </span>
            </span>
          </span>
          <span ng-repeat="author in report.authors"
                ng-bind="author.identifiers.user_name">
          </span>
        </div>
        <div class="panel-body" ng-bind="report.texts[0].original">
        </div>
      </div>
    </div>
    <div ng-hide="report.authors[0].identifiers.user_id == identity.user"
         class="col-md-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <small class="pull-right" ng-bind="report.produced | date:'medium'">
          </small>
          <span ng-bind="report.authors[0].identifiers.user_name">
          </span>
        </div>
        <div class="panel-body" ng-bind="report.texts[0].original">
        </div>
      </div>
    </div>
  </div>
</div>
<form>
  <div class="form-group">
    <label translate>
      Reply to {{replyReport.authors[0].identifiers.user_name}}
    </label>
    <textarea class="form-control" rows="3" ng-model="reply">
    </textarea>
  </div>
  <button class="btn btn-primary" translate
          ng-click="sendReply({report_id: replyReport._id, message: reply})"
          type="submit">
    Send
  </button>
  <button class="btn btn-default" translate
          ng-click="reset()">
    Reset
  </button>
</form>
